@model ICollection<Veterinária.Models.Animal>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        @Model.Count animais
    </h1>
    <table class="table table-responsive table-hover table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Família</th>
                <th>Data Nascimento</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var s in Model)
            {
                <tr>
                    <td>@s.Id</td>
                    <td>@s.Name</td>
                    <td>@s.AnimalFamily?.Family</td>
                    <td>@s.DateBorn.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
</div>
